<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ksi-net-api" version="3.2.0" targetFramework="net35" />
  <package id="ksi-net-api-crypto-microsoft" version="3.2.0" targetFramework="net35" />
  <package id="NLog" version="4.2.3" targetFramework="net35" />
  <package id="NLog.Config" version="2.1.0" targetFramework="net35" />
  <package id="NLog.Schema" version="2.1.0" targetFramework="net35" />
</packages>